:root {
    --primary-color:#252A34;
    --accent-color: #FF2E63;
    --white-color: #fff;
    --header-color: #343434;
    --background-color: #346CD9;
}

body {
    font-family: Rajdhani, sans-serif;
    font-weight: 700;

}
h1,
h2,
h3,
h4,
p,
ul {
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.btn {
    padding: 8px 20px;
    cursor: pointer;
}
.container {
    width: 1270px;
    padding: 0px 30px;
    margin: 0 auto;
} 

/* site-header */
.header {
    display: flex;
    align-items: baseline;
}
.logo-header {
    margin-top: 31px;
    margin-right: 110px;
    

    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: var(--primary-color);
}

.logo-accent {
    color: var(--accent-color);
}

.nav-site {
    margin-right: 100px;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
}
.nav-list {
    display: flex;   
}
.nav-item {
    margin-right: 30px;
}
.nav-item:last-child {
    margin-right: 0;
}
.btn-list {
    display: flex;
    gap: 30px;
}
.btn-item {

}
.btn-login {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;

    color: var(--accent-color);
    border-color: transparent;
}
.btn-register {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border-color: var(--accent-color);

    color: var(--white-color);
    background-color: var(--accent-color);
}
/* section banner */
.banner {
    display: flex;
    margin-bottom: 75px;   
}
.banner-card {
     margin-top: 95px;
     margin-bottom: 50px;
}
.banner-header {
   
    margin-bottom: 50px;

    width: 470px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    
    color: var(--header-color) ;
}
.banner-accent {
    color: var(--accent-color);
}
.banner-btn {
   
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border-color: var(--background-color);

    color: var(--white-color);
    background-color: var(--background-color);
}
.banner-img {
    position: relative;
    margin-top: 74px;
}
.banner-ellins {
    position: absolute;

    left:300px;
    top: 136px;

    transform: translateY(-50%);
    z-index: -1;
}
/* section completitions */
.competitions {
    margin-bottom: 100px;
}

.competitions-header {
    font-size: 36px;
    margin-bottom: 40px;

    color: var(--header-color);
}
.competitions-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.competitions-card {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.competitions-img {
    margin-bottom: 20px;
}
.competitions-subtitle {
    margin-bottom: 5px;

    color: var(--primary-color);
    font-size: 20px;
}
.card-sale {
    margin-bottom: 15px;

    color: var(--accent-color);
    font-size: 30px;
}
.card-sale span {
    font-size: 20px;
    font-weight: 500;
    text-decoration-line: strikethrough;

    color: #999;
}

.card-text {
    margin-bottom: 11px;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    color: var(--header-color);
}
.competetions-link {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 12px 15px;
    border-radius: 10px 0px;
    
    background-color: var(--background-color);
}
/* section how*/
.how {
    margin-bottom: 100px;
}

.how-header {
    margin-bottom: 60px;

    color: var(--header-color);
    text-align: center;
    font-size: 36px;
}

.how-list {
    display: flex;
    justify-content: space-between;
    gap: 56px;
}
.how-card {
    position: relative;
    max-width: 250px;
}
.how-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.how-icon {
     margin-bottom: 30px;
}
.how-text {
    text-align: center;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    color: var(--header-color);
}
.how-vector {
   position: absolute; 
   right: -50px;
}
/* section reviews */
.reviews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    background: rgba(52, 108, 217, 0.12);
    gap: 120px;
    padding-left: 0;
    padding-right: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.rewiewe-card {
   margin: 0 auto;
}
.reviews-text {
    padding-top: 78px;
    padding-bottom: 30px;
   

    width: 400px;
    color: var(--header-color);
    text-align: center;
    font-size: 20px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    
}
.reviews-subtitle {
    padding-bottom: 40px;

    color: var(--header-color);
    text-align: center;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    line-height: 30px;
    text-transform: uppercase;
}
.reviews-icon {
    display: flex;
    justify-content: center;
}
/* section latest */
.latest {

}
.latest-header {
    margin-bottom: 40px;

    color: var(--header-color);
    font-size: 36px;
}
.latest-list {
    display: flex;
    justify-content: space-between;  
}
.latest-card {
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}
.latest-img {
    margin-bottom: 20px;
}

.latest-subtitle {
    margin-bottom: 7px;
    color: var(--primary-color);
    font-size: 20px;
}
.latest-text {
    margin-bottom: 20px;
    color: var(--header-color);
    font-size: 14px;
    font-family: Open Sans, sans-serif;
}
/* footer */
.footer {
    display: flex;
    align-items: center;

    background-color: var(--background-color);
}
.footer-logo {
    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--white-color);
    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    
}

.footer-list {
    display: flex;
    gap: 30px;
    margin-left: 380px;
}

.footer-item {
    color: var(--white-color);
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
}
